.idea/
.DS_Store
/lab
/tmp
/build


.env
# Project level config file.
config.yaml
config.*.yaml
!config.example.yaml
channels.yaml
channels.*.yaml
!channels.example.yaml

# Add http-client private env data
requests.http
*.tmp.http
http-client.private.env.json

# files contains changed apps from specific commit(we use that script in our CI).
.changed_files
.changed_apps

# Private documents.
docs/api/pv/
docs/dev/pv/
docs/pv
# Compiled test files
*.test

# Coverage output files
coverage.txt
coverage.html

TODO.md

# At build time we put the last commit value(which could be last tag) hash
# into .version file to set it on the app at compile time in our Dockerfile.
.version
